

<table>
	<thead>
		<tr>
			<th> name</th>
			<th>Title</th>
			<th>Body</th>
		</tr>
	</thead>


	<tbody>
		<tr>
			<th> <%= attachment_image_tag @book.user, :profile_image, fallback: "no_image.jpg" %> </th>
			<th><%= @book.title %></th>
			<th><%= @book.body %></th>
			<th>
	         <% if @book.user.id == current_user.id %>
	         <%= link_to "edit", edit_book_path(@book) %>
	         <% end %>
			</th>
			
		</tr>
	</tbody>
</table>




